@model FileManagerClassLibrary.Models.FileMetadata

@{
    ViewData["Title"] = "File Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-info mb-3">
    <div class="card-header text-white">File Information</div>
    <div class="card-body bg-light">

        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">File Name</span>
                        </div>
                        @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">File Size</span>
                        </div>
                        @Html.TextBoxFor(model => model.FileSize, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload Date</span>
                        </div>
                        @Html.TextBoxFor(model => model.UploadedDate, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Content-Type</span>
                        </div>
                        @Html.TextBoxFor(model => model.ContentType, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Uploaded By</span>
                        </div>
                        @Html.TextBoxFor(model => model.owner, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "resize:none;", disabled = "disabled" })
                </div>
            </div>
        </div>
        <hr />

    </div>
    <div class="card-footer bg-transparent">
            <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back to List</a>
    </div>
</div>